::placeholder {
    color: white;
    opacity: .6;
    
}

.search-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-content: center;
    margin: 0 auto;
}
.search-bar {
    padding: 0;
    margin: 0;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.dropdown, .submit-btn {
    height: 3rem;
    width: 12rem;
    border: none;
    color: white;
    font-size: 1.2rem;
}
.dropdown {
    background:linear-gradient(302deg, #4284DB 0%, #29EAC4 100%);
    border-radius: 1.5rem 0 0 1.5rem;
    padding-left: 1rem;
}
.submit-btn {
    position: relative;
    z-index:1;
    background: linear-gradient(122deg, #4284DB 0%, #29EAC4 100%);
    border-radius: 0 1.5rem 1.5rem 0;
    cursor: pointer;
}
.submit-btn::before{
    position: absolute;
    top:0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(122deg, #29EAC4 0%, #4284DB 100%);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: -1;
    border-radius: 0 1.5rem 1.5rem 0;
}
.submit-btn:hover::before{
    opacity:1;
}
.address-field {
    height: 46px;
    width: 25rem;
    border-radius: none;
    border: 1px solid rgb(78, 154, 195);
    padding-left: 1rem;
    font-size: 1rem;
    background: none;
    color: white;  
}
form {
    display: flex;
    align-items:center;
}
.random-address-wrapper {
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
}
.random-wallet-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 100;
}
.random-address {
    all:unset;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    padding-left: .5rem;
    color:#84b3f0;
    font-weight: 400;
    transition: 500ms;
}
.random-address:hover{
    color: #d5dfec;
}

@media only screen and (max-width: 900px) {
    .form {
        display: flex;
        flex-direction: column;
    }
    .dropdown {
        width: 100%;
        border-radius: 1.5rem 1.5rem 0 0;
    }
    .submit-btn {
        width: 100%;
        border-radius: 0 0 1.5rem 1.5rem;
    }
    .submit-btn::before {
        border-radius: 0 0 1.5rem 1.5rem;
    }
}