.primary-title {
    display: flex;
    font-size: 4rem;
    color: white;
    font-family: 'Leckerli One', cursive;
    justify-content: center;
}
.title-container {
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    width: 90vw;
}