.wallet {
    padding-top: 1.5rem;
    padding-right: 2rem;
    display: flex;
    justify-content: end;
}
#metamask-logo{
    padding-left: .5rem;
    padding-right: .5rem;
    height: 60%;
}
.enableEthereumButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    width: fit-content;
    border-radius: 10rem;
    border: none;
    font-size: 1rem;
    overflow: hidden;
    padding-right: 1rem;
}